<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .button {
            font: bold 11px Arial;
            text-decoration: none;
            background-color: forestgreen;
            color: #333333;
            text-align: center;
            padding: 2px 6px 2px 6px;
            border-top: 1px solid #CCCCCC;
            border-right: 1px solid #333333;
            border-bottom: 1px solid #333333;
            border-left: 1px solid #CCCCCC;
        }
    </style>
</head>
<body>
<form action="#" th:action="@{/productView/buy}" method="post">
  <label for="fname">First Name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <input type="submit" value="Submit" class="button">
</form>
</body>
</html>